<!DOCTYPE html>
<html>
  <body>
	  <%- include('header'); -%>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<% for (var i =0; i < chats.length; i++) { %>
					<div class="chats">
					<p><strong> <%= chats[i].userID %> </strong></p>
					</div>
				<% } %>
			</div>

			<div class="col-md-9">
				<h3>You're chatting with People! <%= userID %></h3>
				<div class="chat-window">
					<div class="">
						<% for (var i = 0; i < chatMessages.length; i++) { %>
						<div class="messages">
							<% if (chatMessages[i].userID == userID) { %>
							<div class="sending-message"><strong> <%= chatMessages[i].userID %> </strong>: <%= chatMessages[i].date %> : <%= chatMessages[i].message %> </div>
							<% } else { %>
							<div class="receiving-message"><%= chatMessages[i].message %> : <strong> <%= chatMessages[i].userID %> </strong> : <%= chatMessages[i].date %> </div>
							<% } %>
						</div>
						<% } %>
					</div>
					</div>
					<div>
						<form class="" action="/chat/add" method="post">
							<input type="hidden" name="userID" value=<%= userID %>>
							<textarea name="message" rows="8" cols="80" placeholder="Type your message here"></textarea>
							<button type="submit" id="message" name="submit-message">Send</button>
						</form>
					</div>
			</div>
		</div>
	</div>
	<%- include('footer'); -%>
  </body>

</html>
