<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Chat Area</h2>
    <div class="chat-window">
      <h3>You're chatting with Random Person! :D</h3>
      <div class="uiScrollableAreaBody">
        <% for (var i = 0; i < chatMessages.length; i++) { %>
          <div class="">
            <span><%= chatMessages[i].message %></span>
            <span class="align-right"><%= chatMessages[i].user %></span>
          </div>
        <% } %>
      </div>
      <div class="">
        <form class="" action="/chat/add" method="post">
          <input type="hidden" name="userID" value="hello">
          <textarea name="message" rows="8" cols="80" placeholder="Type your message here"></textarea>
          <button type="submit" id="message" name="submit-message">Send</button>
        </form>
      </div>
    </div>

  </body>
</html>
