<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <% if(userID != null) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <%  } %>
    <h1><%= title %></h1>
    <h2>Chat Area</h2>
    <div class="chat-window">
      <h3>You're chatting with People! <%= userID %></h3>
      <div class="uiScrollableAreaBody">
        <% for (var i = 0; i < chatMessages.length; i++) { %>
          <div class="">
            <span><%= chatMessages[i].message %> : <%= chatMessages[i].userID %></span>
          </div>
        <% } %>
      </div>
      <div class="">
        <form class="" action="/chat/add" method="post">
          <input type="hidden" name="userID" value=<%= userID %>>
          <textarea name="message" rows="8" cols="80" placeholder="Type your message here"></textarea>
          <button type="submit" id="message" name="submit-message">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
